<section class="lista-curriculos">
    <!-- Início de um loop ngFor que percorre cada objeto 'vaga' na matriz
  'vagas' -->
    <div *ngFor="let curriculo of curriculos">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Código do curriculo: {{curriculo.id}}</h5>
                <h5 class="card-title">Nome: {{curriculo.nome}}</h5>
                <p class="card-text">Idade: {{curriculo.idade}}</p>
                <p class="card-text">Telefone: {{curriculo.telefone}}</p>
                <p class="card-text">Descricão da curriculo: {{curriculo.descricao}}</p>
            </div>
        </div>
    </div>
</section>
