<h2 align="center">Cadastrar curriculo</h2>
<div class="main">
    <form>
        <label>Id</label><input type="text" name="id" [(ngModel)]="curriculo.id"><br>
        <label>Nome</label><input type="text" name="nome" [(ngModel)]="curriculo.nome"><br>
        <label>Idade</label><input type="text" name="idade" [(ngModel)]="curriculo.idade"><br>
        <label>Telefone</label><input type="text" name="telefone" [(ngModel)]="curriculo.telefone"><br>
        <label>Descrição</label><input type="text" name="descricao" [(ngModel)]="curriculo.descricao"><br>
        <button type="button" (click)="cadastrar()">Cadastrar Vaga</button>
        <button type="button" (click)="atualizar(curriculo.id)">Atualizar
            Vaga</button>
        <button type="button" (click)="excluir(curriculo.id)">Excluir Vaga</button>
    </form>

    <section class="lista-vagas">
        <table class="table">
            <thead>
                <tr>
                    <th>Código do curriculo</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Telefone</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curriculo of curriculos" class="vaga-row">
                    <td>{{ curriculo.id }}</td>
                    <td>{{ curriculo.nome }}</td>
                    <td>{{ curriculo.idade }}</td>
                    <td>{{ curriculo.telefone }}</td>
                    <td>{{ curriculo.descricao }}</td>
                    <td><button type="button" (click)="listarCurriculo(curriculo)" class="btn-
                        listar btn btn-outline-primary">Listar</button>

                        <button type="button" (click)="excluir(curriculo.id)" class="btn-
                        excluir btn btn-danger">Excluir</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>